.commitment,
.section {
  margin-top: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 85px;

  &__titles {
    margin-bottom: 32px;

    color: #333d4b;
    font-size: 40px;
    line-height: 48px;
  }
  &__texts {
    width: 540px;

    color: #333d4b;
    font-size: 16px;
    font-family: Barlow Regular;
    line-height: 26px;
    opacity: 0.800000011920929;
  }
  &__img {
    border-radius: 8px;
  }
}

@media only screen and (max-width: 800px) {
  .commitment,
  .section {
    padding: 0;
    gap: 69px;
    &__img {
      width: 280px;
      height: 470px;
    }
    &__texts {
      width: 339px;
      font-size: 15px;
      line-height: 25px;
    }
    &__titles {
      width: 286px;
      font-size: 32px;
      line-height: 48px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .commitment,
  .section {
    padding: 0;
    gap: 69px;
    &__img {
      width: 280px;
      height: 470px;
    }
    &__texts {
      width: 339px;
      font-size: 15px;
      line-height: 25px;
    }
    &__titles {
      width: 286px;
      font-size: 32px;
      line-height: 48px;
    }
  }
}
