@import "../fonts";

.collection {
  width: 1111px;
  height: 196px;
  margin: 0 auto;
  margin-top: 136px;
  
  margin-bottom: 401px;

  display: flex;
  justify-content: space-between;
  gap: 30px;

  background: url(/images/our-collection.png);

  position: relative;
}

.card {
  width: 256px;

  position: relative;
  top: 126px;

  text-align: center;

  &__title {
    margin-top: 71px;

    color: #333d4b;
    font-size: 24px;
    line-height: 32px;
  }

  &__text {
    margin-top: 24px;

    color: #333d4b;
    font-size: 16px;
    font-family: Barlow Regular;
    line-height: 26px;
  }
}
