.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 44px 0;
}
.nav-list {
  display: flex;
  gap: 33px;
}
.nav-list-item {
  font-size: 12px;
  font-family: Barlow Bold;
  line-height: 15px;
  letter-spacing: 0.923px;

  color: #83888f;

  text-transform: uppercase;
}
.nav-list-item-active,
.nav-list-item:hover {
  color: #333d4b;
}
