.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 44px 0;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 33px;
}
.nav-list-item {
  font-size: 12px;
  font-family: Barlow Bold;
  line-height: 15px;
  letter-spacing: 0.923px;

  color: #83888f;

  text-transform: uppercase;
}

.nav-list-item:hover {
  color: #333d4b;
}

.dropdown {
  display: none;
  &__list {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .nav-list-item {
    line-height: 11px;

    font-size: 9px;
  }
  .header {
    &__logo {
      width: 180px;
      height: 20px;
    }
  }
}
@media only screen and (max-width: 550px) {
  .nav-list {
    display: none;
  }
  .dropdown {
    display: block;
  }
}
