.hero {
  width: 1280px;
  height: 600px;

  background: url(../images/hero-img.png);
  border-radius: 10px;
  padding: 130px 86px;

  &__title {
    width: 493px;
    margin-bottom: 32px;

    color: #fefcf7;
    font-size: 72px;
    line-height: 72px;
  }

  &__text {
    width: 445px;
    margin-bottom: 56px;

    color: #fefcf7;
    font-size: 16px;
    font-family: Barlow Regular;
    line-height: 26px;

    opacity: 0.800000011920929;
  }
}
