.hero {
  max-width: 1280px;

  background: url(../images/hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  border-radius: 10px;
  padding: 130px 86px;

  &__title {
    width: 493px;
    margin-bottom: 32px;

    color: #fefcf7;
    font-size: 72px;
    line-height: 72px;
  }

  &__text {
    width: 445px;
    margin-bottom: 56px;

    color: #fefcf7;
    font-size: 16px;
    font-family: Barlow Regular;
    line-height: 26px;

    opacity: 0.800000011920929;
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    padding: 104px 58px;
    &__title {
      width: 329px;
      margin-bottom: 24px;

      font-size: 48px;
      line-height: 48px;
    }
    &__text {
      width: 398px;
      margin-bottom: 40px;
    }
  }
}
@media only screen and (max-width: 650px) {
  .hero {
    padding: 97px 55px;
    &__title {
      width: 320px;
      margin-bottom: 22px;

      font-size: 45px;
      line-height: 45px;
    }
    &__text {
      width: 370px;
      margin-bottom: 38px;
    }
  }
}
@media only screen and (max-width: 550px) {
  .hero {
    background-position: 65% center;
    padding: 104px 58px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      width: 279px;
      font-size: 40px;
      line-height: 40px;
    }
    &__text {
      width: 279px;
      font-size: 15px;
      line-height: 25px;
    }
  }
}
